extends layout
block content
	div(class="bd-pageheader text-xs-center text-sm-left",id="seasonbests")
		div(class="container")
			h1 Season Bests
			p(class="lead") Check how well you did each season here! Use Testimony#1517 as test. (Marrick's Profile)
	div(id="errorMessage" class="col-md-offset-1 col-md-4 bg-danger invisible")
	div(class="container",id="getBattleTag")
		label(class="control-label col-md-12 col-xs-12",for="battletag") BattleTag:
		div(class="col-md-6 cold-xs-6 form-group")
			div(class="input-group")
				input(type="text",
						 id="battletag",
						 name="battletag",
						 placeholder="BattleTag",
						 class="form-control",
						 size="30",
						 value= battleTag)
				span(class="input-group-addon") #	 
				input(type="text",
						 id="identifier",
						 name="identifier",
						 placeholder="",
						 maxlength="4",
						 size="5",
						 class="form-control"
						 value= battleTagID)
		div(class="clearfix hidden-sm-up")
		div(class="col-md-offset-0 col-md-1")
			button(type="submit",class="btn btn-primary", id="lookup") Look Up
	div(class="container",id="seasonstats")